/*
Scheme: Violet;
*/

.theme > nav,
.theme > nav div,
.theme .intro nav a.active,
.theme .intro nav a.active:hover,
.theme .intro.background nav a.active,
.theme .intro.background nav a.active:hover,
.theme .theme .button,
.theme .expand-icon.close,
.theme section.background.color:before,
.theme .contact .content form input[type="submit"] {
	background-color: #6a5c94 !important;
}

.theme h1 a, .theme h2 a, .theme h3 a, .theme p a, .theme span a, .theme small a {
	color: #6a5c94 !important;
}

.theme .background h1 a, .theme .background h2 a, .theme .background h3 a, .theme .background h4 a, .theme .background p a, .theme .background span a, .theme .background small a {
	color: inherit !important;
	text-decoration: underline !important
}

.theme .button,
.theme .contact.background.color .content form input[type="submit"],
.theme > nav a small {
	color: #fff !important;
	text-shadow: 0 1px 2px rgba(0,0,0,0.20);
}

.theme .background.color .button,
.theme .contact.background.color .content form input[type="submit"] {
	background-color: #fff !important;
	color: #1E1F20 !important;
	text-shadow: none;
}